/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.container{
    width: 80%;
    max-width: 1200px;
    margin: 40px auto;
    background-color: white;
}
/* generalcommand */
body{
    background-color: #d4d4d4;
}
/* banner */
.banner{
    background-color: rgb(252, 251, 251);
    height: 60px;
}
.banner img{
    vertical-align: middle;
}
.titolo{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}
/* main */
.topmenu{
    padding: 10px 50px;
}
.menubotton{
    display: inline-block;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
    background-color:#548dd6;
    border-radius: 10%;
}
.sectionbotton{
    display: inline-block;
    width: 120px;
    height:100%;
    text-align: center;
    line-height: 30px;
    border: 1px solid lightgray;
    border-radius: 10%;   
    background-color:white;
    color: lightgray;
}
/* list */
.lista {
     list-style: none;
}
.lista_principale{
    padding: 20px;
}
.titolo_liste{
    font-size: 20px;
    display: inline-block;
}
.checkcircle{
    border: 1px solid lightgreen;
    border-radius: 50%;  
}
.crosscircle{
    border: 1px solid lightgreen;
    border-radius: 50%; 

}
.editorial_circle{
    display: inline-block;
    background-color: rgb(17, 161, 218);
    padding: 4px ;
    margin-left: 8px;
    border: 20px;
    height: 20px;
    width: 10;
    border-radius: 15px;
    color: white;
    font-size: x-small;
    text-align: center;
    
}