/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.container{
    width: 80%;
    max-width: 1200px;
    margin: 40px auto;
    background-color: white;
}
/* generalcommand */
body{
    background-color: #d4d4d4;
}
/* banner */
.banner{
    background-color: rgb(252, 251, 251);
    height: 60px;
    padding: 6px 10px;
}
.banner img{
    vertical-align: middle;
}
.titolo{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
/* main */
.topmenu{
    padding: 10px 50px;
}
.menubotton{
    width: 80px;
    height: 30px;
    color: white;
    background-color:#548dd6;
    border-radius: 10%;
    border: 0px;
}
.sectionbotton{
    width: 120px;
    line-height: 30px;
    border: 1px solid #d3d3d3;
    border-radius: 10%;   
    background-color:white;
    color: #d3d3d3;
}
/* list */
.lista {
    list-style: none;
}
li{
    padding: 10px 30px;
}
.titolo_liste{
    font-size: 20px;
    display: inline-block;
    padding: 10px 30px;
}

.checkcircle{
    display: inline-block;
    border: 1px solid lightgreen;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin-right: 5px;

    color: lightgreen;  
}
.crosscircle{
    border: 1px solid #ff0000;
    color: #ff0000;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%; 

}
.editorial_circle{
    display: inline-block;
    background-color: rgb(17, 161, 218);
    margin-left: 8px;
    height: 22px;
    width: 60px;
    border-radius: 15px;
    color: white;
    font-size: x-small;
    text-align: center;
    line-height: 22px;
    }
    .goals_circle{
        display: inline-block;
    background-color: rgb(185, 17, 218);
    margin-left: 8px;
    height: 22px;
    width: 60px;
    border-radius: 15px;
    color: white;
    font-size: x-small;
    text-align: center;
    line-height: 22px;
}
.recruiting_circle{
    display: inline-block;
    background-color: rgb(17, 218, 174);
    margin-left: 8px;
    height: 22px;
    width: 60px;
    border-radius: 15px;
    color: white;
    font-size: x-small;
    text-align: center;
    line-height: 22px;
}
.mobile_circle{
    display: inline-block;
    background-color: rgb(218, 114, 17);
    margin-left: 8px;
    height: 22px;
    width: 60px;
    border-radius: 15px;
    color: white;
    font-size: x-small;
    text-align: center;
    line-height: 22px;
}
.website_circle{
    display: inline-block;
    background-color: rgb(247, 198, 228);
    margin-left: 8px;
    height: 22px;
    width: 60px;
    border-radius: 15px;
    color: white;
    font-size: x-small;
    text-align: center;
    line-height: 22px;
}
.sales_circle{
    display: inline-block;
    background-color: rgb(156, 228, 154);
    margin-left: 8px;
    height: 22px;
    width: 60px;
    border-radius: 15px;
    color: white;
    font-size: x-small;
    text-align: center;
    line-height: 22px;
}